img {
  width: 100px;
  height: 100px;
}

h1 {
  font-family: "Press Start 2P", cursive;
}
.ronaldo {
  width: 400px;
  height: 400px;
}

.messi {
  width: 430px;
  height: 430px;
}

.ronaldoAfterText {
  font-family: "Press Start 2P", cursive;
}

.messiAfterText {
  font-family: "Press Start 2P", cursive;
}
